/* Style the button container */
.button-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    /* Adds spacing between buttons */
    width: 100%;
    margin-top: 1.5rem;
}

.button-container .btn {
    flex: 1;
    /* Ensures both buttons take equal width */
    text-align: center;
}

/* Style the Close button */
.close-button {
    display: block;
    width: 100%;
    /* Takes the full width of the modal */
    margin-top: 1rem;
    text-align: center;
}



.modal {


    .modal-content,
    .modal-header,
    .modal-body,
    .modal-footer {
        border: none !important;
    }

    .modal-content {
        padding: 2em !important;


        .modal-header {
            height: 80px !important;
            justify-content: center !important;
            align-items: center;

            .close-btn {
                position: absolute !important;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 20px !important;
                right: 40px !important;
                height: 30px;
                width: 30px;

                span {
                    height: 100%;
                    width: 100%;
                }

            }
        }
    }

    @media (max-width: 540px) {
        .modal-content {
            padding: .5em !important;

            .modal-header {
                .close-btn {
                    right: 10px !important;
                    top: 10px !important;
                }
            }


        }
    }

}